body {
  background-color: black;
  color: white;
}
.col-sm-4 p h1 h2{
  width: 25%;
}
h1 {
  font-family: cursive;
}
.my-work {
  float: right;
}
.about-me p {
  margin-top: 20vw
  padding: inherit;
}
.blockemquote p footer{
float: right;
float: bottom;
}
